.container {
  &Sidebar {
    background-color: var(--color-theme-bg-content) !important;
    position: fixed !important;
    box-shadow: 0 2px 6px var(--color-theme-box-shadow);
    height: 100vh;
    z-index: 100;
  }

  &Main {
    margin-left: var(--ant-aside-width);

    &Header {
      position: fixed;
      background-color: var(--color-theme-bg-content);
      box-shadow: 0 2px 6px var(--color-theme-box-shadow);
      width: calc(100vw - var(--ant-aside-width));
      z-index: 99;
    }

    &Content {
      padding: var(--ant-main-padding);
      min-height: calc(100vh - var(--ant-header-height));
      background-color: var(--color-theme-bg-content);
      margin-top: var(--ant-header-height);
    }
  }
}
