.container {
  @include flexbox-style($align-items: unset, $flex-direction: column);

  > section {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed var(--color-theme-text);
    }
  }

  h4 {
    margin: 0;
    margin-bottom: 8px;
  }
}
