@font-face {
  font-family: Roboto;
  src: url('@/renderer/assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('@/renderer/assets/fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
