:root {
  --font-roboto: 'Roboto', sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #01c0c8;

  --color-theme-primary: #01c0c8;
  --color-theme-text: #000000;
  --color-theme-text-tertiary: rgba(0, 0, 0, 0.4);

  --color-theme-bg-body: #f0f2f5;
  --color-theme-bg-content: #ffffff;

  --color-theme-box-shadow: #2553b91a;
  --color-theme-scrollbar: #b0b0b0;
}

[data-theme='dark'] {
  --color-theme-primary: #01c0c8;
  --color-theme-text: #ffffff;
  --color-theme-text-tertiary: rgba(255, 255, 255, 0.5);

  --color-theme-bg-body: #16293e;
  --color-theme-bg-content: #111c2d;

  --color-theme-box-shadow: #2553b91a;
  --color-theme-scrollbar: #555;
}
