// fonts
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.5;

// layouts
$layout-padding: 20px;
$layout-margin: 20px;

// scrollbars
$scrollbar-width: 8px;

// breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);
