.container {
  height: 100vh;
  @include flexbox-style;

  > section {
    height: 370px;
    width: 420px;
    border: 1px solid var(--color-theme-bg-content);
    box-shadow:
      0px 0px 6px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 52px;
    background-color: var(--color-theme-bg-content);

    > h4 {
      text-align: center;
      margin-bottom: 8px;
      @include text-style(rem(20px), 700, rem(30px));
    }
  }

  &RegisterNow {
    margin-top: 12px;
    @include flexbox-style(4px);
    @include text-style(rem(12px));

    > p {
      @include text-style(rem(12px));
    }

    > a {
      color: var(--color-primary);
    }
  }
}
